{% extends './includes/base.html' %}
{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="ui compact floating success message container transition alert-{{ category }}">
  <i class="icon close"></i>
  <div class="header">
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!--The page content that is showing all that is seen by the user-->
<!-- Dashboard header -->
<h3 class="ui block header" style="margin-top: 5px;">
  Dashboard
</h3>
<!-- end Dashboard header -->
<!-- User information card or segment or menu -->
<div class="ui relaxed divided items">
  <div class="ui styled fluid accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Your Profile Information
    </div>
    <div class="content">
      <!-- changed profile view-->
      <div class="ui segment">
        <div class="ui two column very relaxed grid">
          <div class="column">
            <div class="ui segement centered">
              <img class="ui centered medium circular image" src="{{url_for('static', filename='images/face.jpg')}}">
            </div>
            <div class="ui divider"></div>
            <button class="ui fluid teal labeled icon button">
              <i class="settings icon"></i>
              Edit Account Information
            </button>
          </div>
          <div class="column">
            <div class="item fluid eight wide column">
              <div class="content">
                <div class="description">
                  <h3>Account Information</h3>
                </div>
                <div class="ui divider"></div>
                <div class="ui relaxed divided list">
                  <div class="item">
                    <div class="content">
                      <a class="header">Your Name</a>
                      <div class="description">
                        {{ current_user.surname }} {{ current_user.name }}
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <a class="header">Position / Role at the facility</a>
                      <div class="description">{{ current_user.position }}</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <a class="header">Your Identification Number</a>
                      <div class="description">{{ current_user.medicid }}</div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <a class="header">Your Contact Information</a>
                      <div class="description">{{ current_user.email }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="ui vertical divider">
          more
        </div>
      </div>
      <!-- end of changed profile view-->
    </div>
  </div>
</div>

<br />
<!-- end User information card or segment or menu -->
<!--Grid for the cards displaying the number statistics of the staff, patients and drugs-->
<div class="ui two stackable cards">
  <div class="teal card">
    <div class="content">
      <div class="center aligned header">
        <h1>Number of Patients</h1>
      </div>
      <div class="center aligned description">
        <p>These are the registered number of patients in the system</p>
      </div>
    </div>
    <div class="extra content">
      <div class="center aligned author">
        <div class="ui teal statistic">
          <div class="value">
            {{ patients }}
          </div>
          <div class="label">
            Patients
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="orange card">
    <div class="content">
      <div class="center aligned header">
        <h1>Drugs in Inventory</h1>
      </div>
      <div class="center aligned description">
        <p>
          These are the different drug categories that we have in our
          inventory
        </p>
      </div>
    </div>
    <div class="extra content">
      <div class="center aligned author">
        <div class="ui orange statistic">
          <div class="value">
            9+
          </div>
          <div class="label">
            Categories
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end of Grid for the cards displaying the number statistics of the staff, patients and drugs-->
<br />
<hr />
<!-- Sementic work around for tabs on menus -->
<div class="ui stackable secondary pointing top attached tabular menu">
  <a class="teal item active" data-tab="second">Patients</a>
  <a class="orange item" data-tab="third">Inventory</a>
  <a class="red item" data-tab="fourth">Reports</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="second">
  <div class="ui teal message">
    <div class="header">
      In this section you are viewing graphical representations of patients
      information that is currently stored in the system database.
    </div>
    <ul>
      <li>
        The Pie Chart contains information about Gender distribution of the
        patients
      </li>
      <li>The Combo Chart contains information about</li>
      <li>
        The Scatter Plot contains information of patients distribution in the
        region
      </li>
      <li>
        The Histogram contains information about patients and drug categories
        they take
      </li>
    </ul>
  </div>
  <!-- Charts to be displayed here -->
  <div class="ui four column grid">
    <div class="two column row stackable">
      <div class="column">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
      <div class="column">
        <canvas id="myChart2" width="400" height="400"></canvas>
      </div>
    </div>
    <div class="two column row stackable">
      <div class="column">
        <canvas id="myChart3" width="400" height="400"></canvas>
      </div>
      <div class="column">
        <canvas id="myChart4" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
  <!-- end of Charts to be displayed here -->
</div>
<div class="ui bottom attached tab segment" data-tab="third">
  <div class="ui orange message">
    <div class="header">
      In this section you are viewing graphical representations of patients
      information that is currently stored in the system database.
    </div>
    <ul>
      <li>
        The Pie Chart contains information about Gender distribution of the
        patients
      </li>
      <li>The Combo Chart contains information about</li>
      <li>
        The Scatter Plot contains information of patients distribution in the
        region
      </li>
      <li>
        The Histogram contains information about patients and drug categories
        they take
      </li>
    </ul>
  </div>
  <!-- Chart (Bar graph) for displaying the number different recorded drugs per their categories -->
  <div class="ui four column grid">
    <div class="two column row stackable">
      <canvas id="myBarChart"></canvas>
    </div>
  </div>
  <!-- end Chart (Bar graph) for displaying the number different recorded drugs per their categories -->
</div>
<div class="ui bottom attached tab segment" data-tab="fourth">
  <div class="ui pink message">
    <div class="header">
      In this section you are viewing graphical representations of patients
      information that is currently stored in the system database.
    </div>
    <ul>
      <li>
        The Pie Chart contains information about Gender distribution of the
        patients
      </li>
      <li>The Combo Chart contains information about</li>
      <li>
        The Scatter Plot contains information of patients distribution in the
        region
      </li>
      <li>
        The Histogram contains information about patients and drug categories
        they take
      </li>
    </ul>
  </div>
</div>
<!-- end Sementic work around for tabs on menus -->

<!-- ###################################################################### -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/semantic.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
  $(document).ready(function () {
    $(".tabular.menu .item").tab();
    $(".staff.modal")
      .modal("setting", "closable", false)
      .modal("attach events", ".staff.button", "show");
  });
</script>
<script>
  $(document).ready(function () {
    $(".ui.accordion").accordion();

    $(".toggle").click(function () {
      $(".ui.accordion").accordion("toggle", 1);
    });
    $(".special.cards .image").dimmer({
      on: "hover",
    });
    $('.message .close')
      .on('click', function () {
        $(this)
          .closest('.message')
          .transition('fade');
      });
  });
</script>
<script>
  /*chart example*/
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['0 - 10', '11 - 20', '21 - 30', '31 - 40', '41 - 50', '51 - 60', '60 -'],
      datasets: [{
        label: 'Chart showing total patients in the database by their age groups',
        data: [123, 194, 33, 65, 52, 45, 87],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(275, 179, 84, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(25, 149, 94, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
  /*second chart*/
  var ctx = document.getElementById('myChart2').getContext('2d');
  var myChart2 = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
  /*third chart*/
  var ctx = document.getElementById('myChart3').getContext('2d');
  var myChart3 = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
  /*fourth chart*/
  var ctx = document.getElementById('myChart4').getContext('2d');
  var myChart4 = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
  /* BarChart for drug numbers per category */
  var ctx = document.getElementById('myBarChart').getContext('2d');
  var myBarChart = new Chart(ctx, {
    responsive: true,
    type: 'bar',
    data: {
      labels: ['NRTIs', 'NNRTIs', 'PIS', 'FIs', 'CCR5', 'INSTIs', 'PaIs', 'PEs', 'CHMs'],
      datasets: [{
        label: 'Drug Categories',
        data: ['{{ dcat1 }}', '{{ dcat2 }}', '{{ dcat3 }}', '{{ dcat4 }}', '{{ dcat5 }}', '{{ dcat6 }}',
          '{{ dcat7 }}', '{{ dcat8 }}', '{{ dcat9 }}'
        ],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(15, 187, 255, 0.2)',
          'rgba(153, 187, 255, 0.2)',
          'rgba(153, 10, 22, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
</script>
<!--end of Experimental stuff here-->

{% endblock %}
</div>