{% extends './includes/base.html' %} {% block body %}
<style>
  .ui.action.input input[type="file"] {
    display: none;
  }
</style>
<h3 class="ui block header">
  Inventory
</h3>

<!-- Message for user to see after the form [for drugs recording] has been submitted -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="ui compact floating success message container transition alert-{{ category }}">
  <i class="icon close"></i>
  <div class="header">
    {{ message }}
  </div>
</div>
{% endfor %} {% endif %} {% endwith %}
<!-- end Message for user to see after the form [for drugs recording] has been submitted -->

<!-- Tabular for drug recording and drugs in inventory -->
<div class="ui stackable secondary pointing top attached tabular menu">
  <a class="blue active item" data-tab="current">Current Drugs in the Inventory</a>
  <a class="green item" data-tab="add">Add New Drug in Inventory</a>
</div>

<!-- Table to reflect all available drugs in the inventory -->
<div class="ui attached active tab segment" data-tab="current">
  <div class="ui floating small info message">
    <div class="header">
      There are seven classes of antiretrovirals, each of which target HIV at a
      different stage of its life cycle.
    </div>
    <p style="justify-content: center;">
      The HIV life cycle refers to the replication and spread of the virus
      throughout the body. A central aim of this medication is to reduce a
      person’s viral load, or the amount of the virus in the blood, to an
      undetectable level. An undetectable viral load indicates that a person’s
      HIV medications are working effectively to keep the virus under control.
    </p>
    <p>
      There are also additonal medications such as
      <strong>Combination HIV medications</strong> and more that are also
      included in the list tables below
    </p>
  </div>

  <h4>
    The following categories of antiretroviral medications currently have
    approval by the FDA and are in the inventory.
  </h4>

  <div class="ui styled fluid accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Nucleoside Reverse Transcriptase Inhibitors (NRTIs)
    </div>
    <div class="content">
      <table class="ui very basic table">
        <thead>
          <tr>
            <th>Serial Number</th>
            <th>Name</th>
            <th>Transaction Date</th>
            <th>Quantity</th>
            <th>Batch Number</th>
            <th>Expiry Date</th>
            <th>Recording Person</th>
          </tr>
        </thead>
        <tbody>
          {% for row in dcat1 %}
          <tr>
            <td>{{row["drugNumber"]}}</td>
            <td>{{row["drugName"]}}</td>
            <td>{{ row["transactionDate"]}}</td>
            <td>{{row["quantity"]}}</td>
            <td>{{row['batchNumber']}}</td>
            <td>{{row['expiryDate']}}</td>
            <td>{{row['checkedBy']}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Non-Nucleoside Reverse Transcriptase Inhibitors (NNRTIs)
    </div>
    <div class="content">
      <div class="content">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>Serial Number</th>
              <th>Name</th>
              <th>Transaction Date</th>
              <th>Quantity</th>
              <th>Batch Number</th>
              <th>Expiry Date</th>
              <th>Recording Person</th>
            </tr>
          </thead>
          <tbody>
            {% for row in dcat2 %}
            <tr>
              <td>{{row["drugNumber"]}}</td>
              <td>{{row["drugName"]}}</td>
              <td>{{ row["transactionDate"]}}</td>
              <td>{{row["quantity"]}}</td>
              <td>{{row['batchNumber']}}</td>
              <td>{{row['expiryDate']}}</td>
              <td>{{row['checkedBy']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Protease Inhibitors (PIs)
    </div>
    <div class="content">
      <div class="content">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>Serial Number</th>
              <th>Name</th>
              <th>Transaction Date</th>
              <th>Quantity</th>
              <th>Batch Number</th>
              <th>Expiry Date</th>
              <th>Recording Person</th>
            </tr>
          </thead>
          <tbody>
            {% for row in dcat3 %}
            <tr>
              <td>{{row["drugNumber"]}}</td>
              <td>{{row["drugName"]}}</td>
              <td>{{ row["transactionDate"]}}</td>
              <td>{{row["quantity"]}}</td>
              <td>{{row['batchNumber']}}</td>
              <td>{{row['expiryDate']}}</td>
              <td>{{row['checkedBy']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Fusion Inhibitors
    </div>
    <div class="content">
      <div class="content">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>Serial Number</th>
              <th>Name</th>
              <th>Transaction Date</th>
              <th>Quantity</th>
              <th>Batch Number</th>
              <th>Expiry Date</th>
              <th>Recording Person</th>
            </tr>
          </thead>
          <tbody>
            {% for row in dcat4 %}
            <tr>
              <td>{{row["drugNumber"]}}</td>
              <td>{{row["drugName"]}}</td>
              <td>{{ row["transactionDate"]}}</td>
              <td>{{row["quantity"]}}</td>
              <td>{{row['batchNumber']}}</td>
              <td>{{row['expiryDate']}}</td>
              <td>{{row['checkedBy']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      CCR5 Antagonists
    </div>
    <div class="content">
      <div class="content">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>Serial Number</th>
              <th>Name</th>
              <th>Transaction Date</th>
              <th>Quantity</th>
              <th>Batch Number</th>
              <th>Expiry Date</th>
              <th>Recording Person</th>
            </tr>
          </thead>
          <tbody>
            {% for row in dcat5 %}
            <tr>
              <td>{{row["drugNumber"]}}</td>
              <td>{{row["drugName"]}}</td>
              <td>{{ row["transactionDate"]}}</td>
              <td>{{row["quantity"]}}</td>
              <td>{{row['batchNumber']}}</td>
              <td>{{row['expiryDate']}}</td>
              <td>{{row['checkedBy']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Integrase Inhibitors
    </div>
    <div class="content">
      <div class="content">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>Serial Number</th>
              <th>Name</th>
              <th>Transaction Date</th>
              <th>Quantity</th>
              <th>Batch Number</th>
              <th>Expiry Date</th>
              <th>Recording Person</th>
            </tr>
          </thead>
          <tbody>
            {% for row in dcat6 %}
            <tr>
              <td>{{row["drugNumber"]}}</td>
              <td>{{row["drugName"]}}</td>
              <td>{{ row["transactionDate"]}}</td>
              <td>{{row["quantity"]}}</td>
              <td>{{row['batchNumber']}}</td>
              <td>{{row['expiryDate']}}</td>
              <td>{{row['checkedBy']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Post-Attachment Inhibitors
    </div>
    <div class="content">
      <div class="content">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>Serial Number</th>
              <th>Name</th>
              <th>Transaction Date</th>
              <th>Quantity</th>
              <th>Batch Number</th>
              <th>Expiry Date</th>
              <th>Recording Person</th>
            </tr>
          </thead>
          <tbody>
            {% for row in dcat7 %}
            <tr>
              <td>{{row["drugNumber"]}}</td>
              <td>{{row["drugName"]}}</td>
              <td>{{ row["transactionDate"]}}</td>
              <td>{{row["quantity"]}}</td>
              <td>{{row['batchNumber']}}</td>
              <td>{{row['expiryDate']}}</td>
              <td>{{row['checkedBy']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Pharmacokinetic Enhancers
    </div>
    <div class="content">
      <div class="content">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>Serial Number</th>
              <th>Name</th>
              <th>Transaction Date</th>
              <th>Quantity</th>
              <th>Batch Number</th>
              <th>Expiry Date</th>
              <th>Recording Person</th>
            </tr>
          </thead>
          <tbody>
            {% for row in dcat8 %}
            <tr>
              <td>{{row["drugNumber"]}}</td>
              <td>{{row["drugName"]}}</td>
              <td>{{ row["transactionDate"]}}</td>
              <td>{{row["quantity"]}}</td>
              <td>{{row['batchNumber']}}</td>
              <td>{{row['expiryDate']}}</td>
              <td>{{row['checkedBy']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Combination HIV Medicines
    </div>
    <div class="content">
      <div class="content">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>Serial Number</th>
              <th>Name</th>
              <th>Transaction Date</th>
              <th>Quantity</th>
              <th>Batch Number</th>
              <th>Expiry Date</th>
              <th>Recording Person</th>
            </tr>
          </thead>
          <tbody>
            {% for row in dcat9 %}
            <tr>
              <td>{{row["drugNumber"]}}</td>
              <td>{{row["drugName"]}}</td>
              <td>{{ row["transactionDate"]}}</td>
              <td>{{row["quantity"]}}</td>
              <td>{{row['batchNumber']}}</td>
              <td>{{row['expiryDate']}}</td>
              <td>{{row['checkedBy']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- end Table to reflect all available drugs in the inventory -->

<div class="ui attached tab segment" data-tab="add">
  <!-- Form to add new drugs into the inventory -->
  <div class="ui floating small success message">
    <div class="header">
      Use the form below to record a new drug that is to be added into the
      inventory
    </div>
    <p style="justify-content: center;">
      Use the form carefully to fill in all the required information about each
      particular drug and then save the information into the system database
    </p>
    <div class="ui divider"></div>
    <div class="header">
      Or, you can use the button below to upload already collected data from a
      file
    </div>
    <br />
    <!-- Add drug information from file button and modal HTML -->
    <div class="ui animated green fluid success fade button test" tabindex="0">
      <div class="visible content">Add Drug Inforamtion from file</div>
      <div class="hidden content">
        Only CSV files can be uploaded
      </div>
    </div>
    <!-- ##########################the modal############################# -->
    <div class="ui test basic modal">
      <div class="ui icon header">
        <i class="upload icon"></i>
        Upload Drug Information
      </div>
      <div class="content">
        <!-- Form for uploading drug information form csv file -->
        <div class="container">
          <div class="row">
            <div class="col">
              <form class="ui form" action="/upload_csv" method="POST" enctype="multipart/form-data">
                <div class="field" placeholder="Last Name">
                  <div class="ui pointing below label">
                    You can go ahead and select a file to upload (CSV only)
                  </div>
                  <div class="ui action input">
                    <input type="text" placeholder="Choose a file to upload" readonly />
                    <input type="file" name="csv" id="csv" />
                    <div class="ui icon button">
                      <i class="attach icon"></i>
                    </div>
                  </div>
                </div>
                <button class="ui button" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <!-- Form for uploading drug information form csv file -->
      </div>
      <div class="actions">
        <div class="ui red basic cancel inverted button">
          <i class="remove icon"></i>
          Cancel
        </div>
      </div>
    </div>
    <!-- edn of Add drug information from file button and modal HTML -->
  </div>
  <form class="ui form segment" method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <h4 class="ui dividing stackable header">Drug Information</h4>
    <div class="ui green segment">
      <div class="field">
        <div class="two fields">
          <div class="field">
            <div class="ui pointing below label">
              Drug Number
            </div>
            {% if form.drugNumber.errors %} {{ form.drugNumber(class="ui
            mini")}}
            <div class="ui negative message">
              {% for error in form.drugNumber.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.drugNumber(class="ui mini") }} {% endif %}
          </div>
          <div class="field">
            <div class="ui pointing below label">
              Drug Name
            </div>
            {% if form.drugName.errors %} {{ form.drugName(class="ui mini") }}
            <div class="ui negative message">
              {% for error in form.drugName.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.drugName(class="ui mini") }} {% endif %}
          </div>
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Drug Metrics</h4>
    <div class="ui green segment">
      <div class="two fields">
        <div class="field">
          <div class="ui pointing below label">
            Transaction Date
          </div>
          {% if form.transactionDate.errors %}
          {{ form.transactionDate(class="ui mini dtpick") }}
          <div class="ui negative message">
            {% for error in form.transactionDate.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.transactionDate(class="ui mini dtpick") }}
          {% endif %}
        </div>
        <div class="field selection dropdown">
          <div class="ui pointing below label">
            Unit of Measure
          </div>
          {% if form.unitOfMeasure.errors %} {{ form.unitOfMeasure(class="ui mini dropdown") }}
          <div class="ui negative message">
            {% for error in form.unitOfMeasure.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.unitOfMeasure(class="ui mini dropdown") }} {% endif %}
        </div>
      </div>
      <div class="two fields">
        <div class="field eight wide">
          <div class="ui pointing below label">
            Unit Cost
          </div>
          {% if form.unitCost.errors %} {{ form.unitCost(class="ui mini") }}
          <div class="ui negative message">
            {% for error in form.unitCost.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.unitCost(class="ui mini") }} {% endif %}
        </div>
        <div class="field eight wide">
          <div class="ui pointing below label">
            Quantity
          </div>
          {% if form.quantity.errors %} {{ form.quantity(class="ui mini") }}
          <div class="ui negative message">
            {% for error in form.quantity.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.quantity(class="ui mini") }} {% endif %}
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Drug Pricing & Regulation Information</h4>
    <div class="ui green segment">
      <div class="two fields">
        <div class="field sixteen wide">
          <div class="ui pointing below label">
            Unit Price
          </div>
          {% if form.unitPrice.errors %} {{ form.unitPrice(class="ui mini") }}
          <div class="ui negative message">
            {% for error in form.unitPrice.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.unitPrice(class="ui mini") }} {% endif %}
        </div>
      </div>
      <div class="two fields">
        <div class="field sixteen wide fluid selection dropdown">
          <div class="ui pointing below label">
            Stock Type
          </div>
          {% if form.stockType.errors %} {{ form.stockType(class="ui mini dropdown") }}
          <div class="ui negative message">
            {% for error in form.stockType.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.stockType(class="ui mini fluid dropdown")}}
          {% endif %}
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Drug Details</h4>
    <div class="ui green segment">
      <div class="two fields">
        <div class="field sixteen wide">
          <div class="ui pointing below label">
            Details about drug
          </div>
          {% if form.details.errors %} {{ form.details(class="ui mini") }}
          <div class="ui negative message">
            {% for error in form.details.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.details(class="ui mini") }} {% endif %}
        </div>
      </div>
      <div class="two fields">
        <div class="field eight wide">
          <div class="ui pointing below label">
            Drug Batch Number
          </div>
          {% if form.batchNumber.errors %} {{ form.batchNumber(class="ui mini")
          }}
          <div class="ui negative message">
            {% for error in form.batchNumber.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.batchNumber(class="ui mini") }} {% endif %}
        </div>
        <div class="field eight wide">
          <div class="ui pointing below label">
            Expiry Date
          </div>
          {% if form.expiryDate.errors %} {{ form.expiryDate(class="ui mini") }}
          <div class="ui negative message">
            {% for error in form.expiryDate.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.expiryDate(class="ui mini") }} {% endif %}
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Personel Registering Drug Details</h4>
    <div class="ui green segment">
      <div class="two fields">
        <div class="field eight wide">
          <div class="ui pointing below label">
            Registered By
          </div>
          <div class="ui input">
            {{form.checkedBy()}}
          </div>
        </div>
        <div class="field eight wide">
          <div class="ui pointing below label">
            Take a moment and
          </div>
          <p>
            Make sure that you have input the correct type of information.
            Double check where necessary.
          </p>
        </div>
      </div>
    </div>
    <div>
      {{ form.submit(class="ui small fluid green button") }}
    </div>
  </form>

  <!-- end Form to add new drugs into the inventory -->
</div>
<!-- end Tabular for drug recording and drugs in inventory -->

<!-- end Sementic work around for tabs on menus -->

<!-- ###################################################################### -->
<script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/semantic.min.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
  $(document).ready(function () {
    $(".ui.dropdown").dropdown({
      onChange: function (value, text, $selectedItem) {
        console.log(value);
      },
      forceSelection: false,
      selectOnKeydown: false,
      showOnFocus: false,
      on: "hover",
    });
  });
</script>
<script>
  $(document).ready(function () {
    $('.message .close')
      .on('click', function () {
        $(this)
          .closest('.message')
          .transition('fade');
      });
    $(".tabular.menu .item").tab();
    /* add drug from file modal js */
    $(".test.modal")
      .modal("setting", "closable", false)
      .modal("attach events", ".test.button", "show");
    /* end add drug from file modal js */
    $(".dtpick").datepicker();
  });
</script>
<script>
  $(document).ready(function () {
    $(".ui.accordion").accordion();

    $(".toggle").click(function () {
      $(".ui.accordion").accordion("toggle", 1);
    });

    /* The inventory drug recording Form validation javascript  */
    $("input:text").click(function () {
      $(this).parent().find("input:file").click();
    });

    $("input:file", ".ui.action.input").on("change", function (e) {
      var name = e.target.files[0].name;
      $("input:text", $(e.target).parent()).val(name);
    });
    /* end The inventory drug recording Form validation javascript  */
  });
</script>

<!--end of Experimental stuff here-->
{% endblock %}