{% extends './includes/base.html' %} {% block body %}
<!-- Datatables CSS-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
<!-- end Datatables CSS-->

<h3 class="ui block header">
  Patients' Information
</h3>
<div class="ui olive small floating icon message">
  <i class="pills icon"></i>
  <div class="content">
    <div class="header">
      This is the Patients' Information Capture [PIC] section.
    </div>
    <p>
      In this section are tabs, that you can traverse, to record patients data
      concerning their Anti-retroviral drugs records. You are also provided
      capabilities of Creating, Reading, Updating and Deleting patient
      information.
    </p>
    <p>
      Further more, there is a views tab can help you in tracking patients in
      the system with graphical representations, and more.
    </p>
  </div>
</div>
<!-- Message for user to see after the form [for patients recording] has been submitted -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="ui compact floating success message container transition alert-{{ category }}">
  <i class="icon close"></i>
  <div class="header">
    {{ message }}
  </div>
</div>
{% endfor %} {% endif %} {% endwith %}
<!-- end Message for user to see after the form [for drugs recording] has been submitted -->

<!-- Tabular for patient recording and patients in the system -->
<div class="ui stackable secondary pointing top attached tabular menu">
  <a class="active olive item" data-tab="record">Record New Patient Information</a>
  <a class="orange item" data-tab="rud">Edit/Update/Delete Patient Information</a>
  <a class="blue item" data-tab="report">View Patients Reports</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="record">
  <div class="ui info message">
    Fill the form below carefully with Patient's data that you will at the end
    submit for storage into the system
  </div>
  <!-- form to capture patients data input -->
  <form class="ui olive form segment" method="POST" action="{{ url_for('patient_info') }}">
    {{ form.csrf_token }} {{ form.hidden_tag() }}
    <h4 class="ui dividing header">Patient Bio Data</h4>
    <div class="three fields">
      <div class="field">
        <label>Patient ID</label>
        <div class="ui icon input">
          <i class="id card icon"></i>
          {{ form.patientID(class="ui mini") }}
        </div>
      </div>
      <div class="field">
        <label>Patient's Surname</label>
        <div class="ui icon input">
          <i class="users icon"></i>
          {{ form.surname(class="ui mini") }}
        </div>
      </div>
      <div class="field">
        <label>Patient's Name</label>
        <div class="ui icon input">
          <i class="users icon"></i>
          {{ form.name(class="ui mini") }}
        </div>
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <label>Gender</label>
        <div class="ui icon input">
          {{ form.gender(class="ui mini dropdown fluid") }}
        </div>
      </div>
      <div class="field">
        <label>Date of Birth</label>
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          {{ form.dateOfBirth(class="ui mini", **{'onchange':'setAge(event)'}) }}
        </div>
      </div>
      <div class="field">
        <label>Age of Patient</label>
        <div class="ui input left icon">
          <i class="calculator icon"></i>
          {{ form.age(class="ui mini", **{'readonly':'True'}) }}
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Patient Contact & Location Information</h4>
    <div class="two fields">
      <div class="field">
        <label>Contact</label>
        <div class="ui icon input">
          <i class="address book icon"></i>
          {{ form.contact(class="ui mini") }}
        </div>
      </div>
      <div class="field">
        <label>Town / Village</label>
        <div class="ui icon input">
          <i class="building icon"></i>
          {{ form.townVillage(class="ui mini") }}
        </div>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>District</label>
        <div class="ui icon input">
          <i class="sign icon"></i>
          {{ form.district(class="ui mini") }}
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <div class="ui icon input">
          <i class="envelope icon"></i>
          {{ form.email(class="ui mini") }}
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Guardian's information for minors</h4>
    <div class="ui segment">
      <div class="field">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="showFields" id="showFields" tabindex="0" class="hidden" />
          <label>Toggle the button to enable guardian information fields, incase of
            patient being a minor [Children below the Age of 18]
          </label>
        </div>
      </div>
    </div>
    <!-- Minor's guardian information if checkbox is switched, then it displays -->

    <div class="three fields">
      <div class="field">
        <label>Guardian Name</label>
        <div class="ui icon input">
          {{ form.guardianName(class="ui mini", **{'hidden':'true'}) }}
          <i class="user friends icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Guardian's Contact</label>
        <div class="ui icon input">
          {{ form.guardianContact(class="ui mini", **{'hidden':'true'}) }}
          <i class="phone icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Relationship with Minor</label>
        <div class="ui icon input">
          {{ form.relationship(class="ui mini", **{'hidden':'true'}) }}
          <i class="handshake icon"></i>
        </div>
      </div>
    </div>

    <!-- end of it all -->
    <!--
    <h4 class="ui dividing header">Drug Information</h4>
    <div class="four fields">
      <div class="field">
        <label>Current drugs to take</label>
        <div class="ui icon input">
          {{ form.currentDrug(class="ui fluid dropdown") }}
          <i class="prescription bottle alternate icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Current drugs to take</label>
        <div class="ui icon input">
          {{ form.currentDrug2(class="ui fluid dropdown") }}
          <i class="prescription bottle alternate icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Current drugs to take</label>
        <div class="ui icon input">
          {{ form.currentDrug3(class="ui fluid dropdown") }}
          <i class="prescription bottle alternate icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Date of Current Drug taken</label>
        <div class="ui calendar" id="day_first_calendar">
          <div class="ui input left icon">
            {{ form.dateOfNextDrug(class="ui mini") }}
            <i class="calendar icon"></i>
          </div>
        </div>
      </div>
    </div>
  -->
    <h4 class="ui dividing header">Submit Patient Information</h4>
    {{ form.submit(class="ui small fluid olive button") }}
    <div class="ui error message"></div>
  </form>
  <!-- end form to capture patients data input -->
  <!-- #####################################################################################-->
  <!-- #####################################################################################-->
  <!-- #####################################################################################-->
</div>
<div class="ui bottom attached tab segment" data-tab="rud">
  <!-- THE CRUD TABLE AND FORM FOR THE PATIENTS IN CASE WRONG INFORMATION WAS ADDED TO THE DATABASE -->
  <!--*****************************######################*********************************-->
  <div class="ui floating info message">
    <i class="close icon"></i>
    <div class="header">
      This section provides you with capabilities to EDIT, DELETE or UPDATE
      patient information. Search for a particular patient by:
    </div>
    <ul class="list">
      <li>Their "patientID" or</li>
      <li>Their "email address"</li>
    </ul>
  </div>
  <table id="example" class="ui inverted orange very compact striped selectable table" style="width: 100%;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Guadian Contact</th>
        <th>Date</th>
        <th class="center aligned">Edit/Update/Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for row in patients%}
      <tr class="teal">
        <td>{{ row["surname"] }} {{ row["name"] }}</td>
        <td>{{ row["gender"] }}</td>
        <!--<td>{{ row["dateOfBirth"] }}</td>-->
        <td>{{ row["dateOfBirth"] }}</td>
        <td>{{ row["contact"] }}</td>
        <td>{{ row["email"] }}</td>
        <td>{{ row["guardianContact"] }}</td>
        <td>{{ row["dateOfNextDrug"] }}</td>
        <td class="center aligned">
          <div class="ui small basic compact icon buttons">
            <button class="ui mini button test">
              <i class="pen icon"></i>
            </button>
            <!-- edit modal -->
            <div class="ui test basic modal">
              <div class="ui icon header">
                <i class="wrench icon"></i>
                Edit Patient Information
              </div>
              <div class="content">
<<<<<<< .merge_file_a07404
                <div class="ui orange inverted bottom attached active tab segment">
                  <div class="ui info message">
                    You are required to correct those sections of the patient that need editing and after save to the
                    database.
=======
                <!-- ########################*************************************############################### -->
                <!-- ############################********** Edit modal ********################################## -->
                <div class="ui bottom attached active tab segment">
                  <div class="ui info message">
                    Edit the patient information carefully in each section and after save it in the database
>>>>>>> .merge_file_a07140
                  </div>
                  <!-- form to capture patients data input -->
                  <form class="ui orange form segment" method="POST" action="{{ url_for('patient_info') }}">
                    {{ form.csrf_token }} {{ form.hidden_tag() }}
                    <h4 class="ui dividing header">Patient Bio Data</h4>
                    <div class="three fields">
                      <div class="field">
                        <label>Patient ID</label>
                        <div class="ui icon input">
                          <i class="id card icon"></i>
                          {{ form.patientID(class="ui mini") }}
                        </div>
                      </div>
                      <div class="field">
                        <label>Patient's Surname</label>
                        <div class="ui icon input">
                          <i class="users icon"></i>
                          {{ form.surname(class="ui mini") }}
                        </div>
                      </div>
                      <div class="field">
                        <label>Patient's Name</label>
                        <div class="ui icon input">
                          <i class="users icon"></i>
                          {{ form.name(class="ui mini") }}
                        </div>
                      </div>
                    </div>
                    <div class="two fields">
                      <div class="field">
                        <label>Gender</label>
                        <div class="ui icon input">
                          {{ form.gender(class="ui mini dropdown fluid") }}
                        </div>
                      </div>
                      <div class="field">
                        <label>Date of Birth</label>
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          {{ form.dateOfBirth(class="ui mini") }}
                        </div>
                      </div>
                    </div>
                    <h4 class="ui dividing header">Patient Contact & Location Information</h4>
                    <div class="two fields">
                      <div class="field">
                        <label>Contact</label>
                        <div class="ui icon input">
                          <i class="address book icon"></i>
                          {{ form.contact(class="ui mini") }}
                        </div>
                      </div>
                      <div class="field">
                        <label>Town / Village</label>
                        <div class="ui icon input">
                          <i class="building icon"></i>
                          {{ form.townVillage(class="ui mini") }}
                        </div>
                      </div>
                    </div>
                    <div class="two fields">
                      <div class="field">
                        <label>District</label>
                        <div class="ui icon input">
                          <i class="sign icon"></i>
                          {{ form.district(class="ui mini") }}
                        </div>
                      </div>
                      <div class="field">
                        <label>Email</label>
                        <div class="ui icon input">
                          <i class="envelope icon"></i>
                          {{ form.email(class="ui mini") }}
                        </div>
                      </div>
                    </div>
                    <h4 class="ui dividing header">Guardian's information for minors</h4>
<<<<<<< .merge_file_a07404
                    <!-- Minor's guardian information if checkbox is switched, then it displays -->
=======
                    <div class="ui segment">
                      <div class="field">
                        <div class="ui toggle checkbox">
                          <input type="checkbox" name="showFields" id="showFields" tabindex="0" class="hidden" />
                          <label>Toggle the button to enable guardian information fields, incase of
                            patient being a minor [Children below the Age of 18]
                          </label>
                        </div>
                      </div>
                    </div>
                    <!-- Minor's guardian information if checkbox is switched, then it displays -->

>>>>>>> .merge_file_a07140
                    <div class="three fields">
                      <div class="field">
                        <label>Guardian Name</label>
                        <div class="ui icon input">
<<<<<<< .merge_file_a07404
                          {{ form.guardianName(class="ui mini") }}
=======
                          {{ form.guardianName(class="ui mini", **{'hidden':'true'}) }}
>>>>>>> .merge_file_a07140
                          <i class="user friends icon"></i>
                        </div>
                      </div>
                      <div class="field">
                        <label>Guardian's Contact</label>
                        <div class="ui icon input">
<<<<<<< .merge_file_a07404
                          {{ form.guardianContact(class="ui mini") }}
=======
                          {{ form.guardianContact(class="ui mini", **{'hidden':'true'}) }}
>>>>>>> .merge_file_a07140
                          <i class="phone icon"></i>
                        </div>
                      </div>
                      <div class="field">
                        <label>Relationship with Minor</label>
                        <div class="ui icon input">
<<<<<<< .merge_file_a07404
                          {{ form.relationship(class="ui mini") }}
=======
                          {{ form.relationship(class="ui mini", **{'hidden':'true'}) }}
>>>>>>> .merge_file_a07140
                          <i class="handshake icon"></i>
                        </div>
                      </div>
                    </div>

                    <!-- end of it all -->

<<<<<<< .merge_file_a07404
                    <h4 class="ui dividing header">Drug Information</h4>
                    <div class="four fields">
                      <div class="field">
                        <label>Current drugs to take</label>
                        <div class="ui icon input">
                          {{ form.currentDrug(class="ui fluid dropdown") }}
                          <i class="prescription bottle alternate icon"></i>
                        </div>
                      </div>
                      <div class="field">
                        <label>Current drugs to take</label>
                        <div class="ui icon input">
                          {{ form.currentDrug2(class="ui fluid dropdown") }}
                          <i class="prescription bottle alternate icon"></i>
                        </div>
                      </div>
                      <div class="field">
                        <label>Current drugs to take</label>
                        <div class="ui icon input">
                          {{ form.currentDrug3(class="ui fluid dropdown") }}
                          <i class="prescription bottle alternate icon"></i>
                        </div>
                      </div>
                      <div class="field">
                        <label>Date of Current Drug taken</label>
                        <div class="ui calendar" id="day_first_calendar">
                          <div class="ui input left icon">
                            {{ form.dateOfNextDrug(class="ui mini") }}
                            <i class="calendar icon"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h4 class="ui dividing header">Submit Edited Patient Information</h4>
                    {{ form.submit(class="ui small fluid orange button") }}
                    <div class="ui error message"></div>
                  </form>
                  <!-- end form to capture patients data input -->
                  <!-- #####################################################################################-->
                  <!-- #####################################################################################-->
                  <!-- #####################################################################################-->
                </div>
=======

                    <h4 class="ui dividing header">Submit Patient Information</h4>
                    {{ form.submit(class="ui small fluid orange button") }}
                    <div class="ui error message"></div>
                  </form>
                </div>
                <!-- ########################********** end of edit modal ********############################### -->
                <!-- ########################**************************************############################### -->
>>>>>>> .merge_file_a07140
              </div>
              <div class="actions">
                <div class="ui red basic cancel inverted button">
                  <i class="remove icon"></i>
                  Cancel
                </div>
              </div>
            </div>
            <!-- end of edit modal -->
            <button class="ui mini button">
              <i class="trash alternate icon"></i>
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!--*****************************######################*********************************-->
  <!-- THE CRUD TABLE AND FORM FOR THE PATIENTS IN CASE WRONG INFORMATION WAS ADDED TO THE DATABASE -->
</div>
<div class="ui bottom attached tab segment" data-tab="report">
  Third
</div>

<!-- Table to reflect all available drugs in the inventory -->
<!--Scripts-->
<!--####################################################################-->
<!--####################################################################-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/semantic.min.js"></script>
<!--####################################################################-->
<!--####################################################################-->
<!-- javascipt for different tabs and other stuff on this page -->
<script>
  function setAge(e) {
    var bday = new Date(Date.parse(e.target.value));
    var today = new Date()

    document.getElementsByName('age')[0].value = today.getFullYear() - bday.getFullYear();
  }
</script>
<script>
  $(document).ready(function () {
    $("#example").DataTable();
    /* edit modal js */
    $(".test.modal")
      .modal("setting", "closable", false)
      .modal("attach events", ".test.button", "show");
    /* end of edit modal js */
  });
</script>
<script>
  $(document).ready(function () {
    $(".ui.dropdown").dropdown({
      onChange: function (value, text, $selectedItem) {
        console.log(value);
      },
      forceSelection: false,
      selectOnKeydown: false,
      showOnFocus: false,
      on: "hover",
    });
  });
</script>
<script>
  $(document).ready(function () {
    $(".message .close").on("click", function () {
      $(this).closest(".message").transition("fade");
    });
    $(".menu .item").tab();
    $(".ui.checkbox").checkbox();
    $("#showFields").change(function () {
      $("#guardianName").attr("hidden", !this.checked);
      $("#guardianContact").attr("hidden", !this.checked);
      $("#relationship").attr("hidden", !this.checked);
    });
  });
</script>
<script>
  //form validation javascript
  $(document).ready(function () {
    $(".ui.form").form({
      fields: {
        patientID: {
          identifier: "patientID",
          rules: [{
              type: "empty",
              prompt: "Please enter an ID for the patient",
            },
            {
              type: "regExp[^[0-9]*$]",
              prompt: "Patient ID must be numeric",
            },
          ],
        },
        surname: {
          identifier: "surname",
          rules: [{
              type: "empty",
              prompt: "Please enter the patient's surname",
            },
            {
              type: "regExp[^[A-Za-z]+$]",
              prompt: "Patient's name must be alphabetical",
            },
          ],
        },
        name: {
          identifier: "name",
          rules: [{
              type: "empty",
              prompt: "Please enter your name",
            },
            {
              type: "regExp[^[A-Za-z]+$]",
              prompt: "Patient's name must be alphabetical",
            },
          ],
        },
        dateOfBirth: {
          identifier: "dateOfBirth",
          rules: [{
            type: "empty",
            prompt: "A date of birth has to be selected",
          }, ],
        },
        contact: {
          identifier: "contact",
          rules: [{
              type: "empty",
              prompt: "Patient's contact is required please",
            },
            {
              type: "regExp[^[0-9]*$]",
              prompt: "Patient ID must be numeric",
            },
            {
              type: "exactLength[10]",
              prompt: "Phone number must be exactly 10 digits",
            },
          ],
        },
        townVillage: {
          identifier: "townVillage",
          rules: [{
              type: "empty",
              prompt: "Please enter the town or village of residence",
            },
            {
              type: "regExp[^[A-Za-z]+$]",
              prompt: "Town or village name must be alphabetical",
            },
          ],
        },
        district: {
          identifier: "district",
          rules: [{
              type: "empty",
              prompt: "Please enter the district",
            },
            {
              type: "regExp[^[A-Za-z]+$]",
              prompt: "District name must be alphabetical",
            },
          ],
        },
        email: {
          identifier: "email",
          rules: [{
              type: "empty",
              prompt: "An email address is required",
            },
            {
              type: "email",
              prompt: "Please enter a valid e-mail",
            },
          ],
        },
        skills: {
          identifier: "skills",
          rules: [{
            type: "minCount[1]",
            prompt: "Please select drugs to administer to patient",
          }, ],
        },
        gender: {
          identifier: "gender",
          rules: [{
            type: "empty",
            prompt: "Please select a gender",
          }, ],
        },
        dateOfNextDrug: {
          identifier: "dateOfNextDrug",
          rules: [{
            type: "empty",
            prompt: "Please select a date of Next Drug administration",
          }, ],
        },
      },
    });
  });
</script>

<!-- end javascipt for different tabs and other stuff on this page -->
{% endblock %}