{% extends './includes/base.html' %} {% block body %}
<h3 class="ui block header">
    Service Providers
</h3>

<div class="ui three stackable cards">

    <div class="ui horizontal card">
        <div class="image">
            <img src="{{url_for('static', filename='images/face.jpg')}}">
        </div>
        <div class="content">
            <div class="header">Government</div>
            <div class="meta">
                <span class="category">Animals</span>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repudiandae, soluta laborum ut
                    velit
                    expedita dicta quis dolorem officia ad recusandae impedit ab alias doloremque optio eius
                    distinctio
                    eaque hic.</p>
            </div>
        </div>
    </div>


    <div class="ui horizontal card">
        <div class="image">
            <img src="{{url_for('static', filename='images/face.jpg')}}">
        </div>
        <div class="content">
            <div class="header">DANIDA</div>
            <div class="meta">
                <span class="category">Animals</span>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repudiandae, soluta laborum ut
                    velit
                    expedita dicta quis dolorem officia ad recusandae impedit ab alias doloremque optio eius
                    distinctio
                    eaque hic.</p>
            </div>
        </div>
    </div>


    <div class="ui horizontal card">
        <div class="image">
            <img src="{{url_for('static', filename='images/face.jpg')}}">
        </div>
        <div class="content">
            <div class="header">USAID</div>
            <div class="meta">
                <span class="category">Animals</span>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repudiandae, soluta laborum ut
                    velit
                    expedita dicta quis dolorem officia ad recusandae impedit ab alias doloremque optio eius
                    distinctio
                    eaque hic.</p>
            </div>
        </div>
    </div>


    <div class="ui horizontal card">
        <div class="image">
            <img src="{{url_for('static', filename='images/face.jpg')}}">
        </div>
        <div class="content">
            <div class="header">UKAID</div>
            <div class="meta">
                <span class="category">Animals</span>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repudiandae, soluta laborum ut
                    velit
                    expedita dicta quis dolorem officia ad recusandae impedit ab alias doloremque optio eius
                    distinctio
                    eaque hic.</p>
            </div>
        </div>
    </div>


    <div class="ui horizontal card">
        <div class="image">
            <img src="{{url_for('static', filename='images/face.jpg')}}">
        </div>
        <div class="content">
            <div class="header">TASO</div>
            <div class="meta">
                <span class="category">Animals</span>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repudiandae, soluta laborum ut
                    velit
                    expedita dicta quis dolorem officia ad recusandae impedit ab alias doloremque optio eius
                    distinctio
                    eaque hic.</p>
            </div>
        </div>
    </div>


    <div class="ui horizontal card">
        <div class="image">
            <img src="{{url_for('static', filename='images/face.jpg')}}">
        </div>
        <div class="content">
            <div class="header">NMS</div>
            <div class="meta">
                <span class="category">Animals</span>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repudiandae, soluta laborum ut
                    velit
                    expedita dicta quis dolorem officia ad recusandae impedit ab alias doloremque optio eius
                    distinctio
                    eaque hic.</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}