{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Home</title>
    <!-- Semantic CSS and JS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.css') }}" />
    <script src="{{ url_for('static', filename='js/lib/semantic.js')}}"></script>

    <!-- Custome CSS and JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/staffLogin.css')}}" />
    <script src="{{ url_for('static', filename='js/staffLogin.js')}}"></script>

    <!-- Fontawesome CSS and JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js"></script>


<body>
    <div class="container">
        <div class="ui segment" style="background: transparent; border: none; box-shadow: none;">
            <img class="ui centered medium image" src="{{ url_for('static', filename='images/HIV-Mis.png')}}"
                style="margin-bottom: -50px;">
        </div>
        <!-- Flash message section for when a new account has been created for a new user -->

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="ui compact floating success message container segment alert-{{ category }}">
            <div class="header">
                {{ message }}
            </div>
            <p>You may now log-in with the username you have chosen</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}

        <!-- End Flash message section -->
        <div class="ui center aligned segment" style="background: transparent; border: none; box-shadow: none;">
            <h1 style="text-shadow: 0 1px 0 #ccc,
            0 2px 0 #c9c9c9,
            0 3px 0 #bbb,
            0 4px 0 #b9b9b9,
            0 5px 0 #aaa,
            0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
            color:rgb(37, 53, 53);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">WELCOME TO THE HIV DRUGS
                INVENTORY AND DISPENSATION INFORMATION SYSTEM</h1>
            <div class="ui horizontal divider">Click button below</div>
            <a href="{{ url_for('login') }}" class="ui green button">To Access System</a>
        </div>
    </div>
</body>

</html>

{% endblock %}