{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Home</title>
    <!-- Semantic CSS and JS file -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/semantic.css') }}" />
    <script src="{{ url_for('static', filename='js/semantic.js')}}"></script>

    <!-- Custome CSS and JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/staffLogin.css')}}" />
    <script src="{{ url_for('static', filename='js/staffLogin.js')}}"></script>

</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form method="POST" action="">
                <br />
                {{ form.hidden_tag() }}
                <h1>Log into the system</h1>
                <div class="ui horizontal divider">
                    Below
                </div>
                <p>Enter your credentials to access the system...</p>
                <div class="field">
                    {% if form.email.errors %}
                    {{ form.email(class="ui mini icon input is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="ui mini icon input") }}
                    {% endif %}
                </div>
                <div class="field">
                    {% if form.password.errors %}
                    {{ form.password(class="ui mini icon input is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="ui mini icon input") }}
                    {% endif %}
                </div>
                <a href="#">Forgot your password?</a>
                <div class="ui horizontal divider">Then</div>
                <div>
                    {{ form.submit(class="ui green button") }}
                </div>
            </form>
            <!--Error message in case the login credentials are not correct -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="ui compact floating warning message container segment alert-{{ category }}">
                <div class="header">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <a href="/"><img src="{{ url_for('.static', filename='images/HIV-Mis.png')}}" alt="" /></a>
                    <h1>Welcome!</h1>
                    <div class="ui horizontal divider">Please</div>
                    <p>
                        Enter your personal credentials to get access to the system on the
                        left-hand panel.
                    </p>
                    <div class="ui horizontal divider">Else</div>
                    <p>Click the Create Account button below to create a new one.</p>

                    <a href="{{ url_for('signup') }}" class="ui teal button">Create Account</a>

                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('.static', filename='js/staffLogin.js')}}"></script>
    <script>
        function clearInp() {
            document.getElementsByTagName("input").value = "";
        }
    </script>
</body>

</html>

{% endblock %}