{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign UP | Home</title>
    <!-- Semantic CSS and JS file -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/semantic.css') }}" />
    <script src="{{ url_for('static', filename='js/semantic.js')}}"></script>

    <!-- Custome CSS and JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/staffLogin.css')}}" />
    <script src="{{ url_for('static', filename='js/staffLogin.js')}}"></script>

</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <h1>Create an Account</h1>
                <span>Fill in the form with the required information</span>
                <div class="ui horizontal divider">
                    Make sure
                </div>
                <span>All the fields are required to be filled.</span>
                <div class="field">
                    {% if form.position.errors %}
                    {{ form.position(class="ui mini") }}
                    <div class="ui negative message">
                        {% for error in form.position.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.position(class="ui mini icon input") }}
                    {% endif %}
                </div>
                <div class="field">
                    {% if form.surname.errors %}
                    {{ form.surname(class="ui mini") }}
                    <div class="ui negative message">
                        {% for error in form.surname.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.surname(class="ui mini icon input") }}
                    {% endif %}
                </div>
                <div class="field">
                    {% if form.name.errors %}
                    {{ form.name(class="ui mini") }}
                    <div class="ui negative message">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="ui mini icon input") }}
                    {% endif %}
                </div>
                <div class="field">
                    {% if form.medicid.errors %}
                    {{ form.medicid(class="ui mini") }}
                    <div class="ui negative message">
                        {% for error in form.medicid.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.medicid(class="ui mini icon input") }}
                    {% endif %}
                </div>
                <div class="field">
                    {% if form.username.errors %}
                    {{ form.username(class="ui mini") }}
                    <div class="ui negative message">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username(class="ui mini icon input") }}
                    {% endif %}
                </div>
                <div class="field">
                    {% if form.password.errors %}
                    {{ form.password(class="ui mini") }}
                    <div class="ui negative message">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="ui mini icon input") }}
                    {% endif %}
                </div>
                <div class="field">
                    {% if form.repeatpassword.errors %}
                    {{ form.repeatpassword(class="ui mini") }}
                    <div class="ui negative message">
                        {% for error in form.repeatpassword.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.repeatpassword(class="ui mini icon input") }}
                    {% endif %}
                </div>
                <div class="field">
                    {% if form.email.errors %}
                    {{ form.email(class="ui mini") }}
                    <div class="ui negative message">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="ui mini icon input") }}
                    {% endif %}
                </div>
                <div class="ui horizontal divider">
                    Then
                </div>
                <div>
                    {{ form.submit(class="ui green button") }}
                </div>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <a href="/"><img src="{{ url_for('.static', filename='images/HIV-Mis.png')}}" alt="" /></a>
                    <h1>Welcome Back!</h1>
                    <div class="ui horizontal divider">Please</div>
                    <p>
                        Enter your personal credentials to create an account that will allow you access to the system.
                    </p>
                    <div class="ui horizontal divider">or if</div>
                    <p>You already have one, click the button below to Login.</p>

                    <a href="{{ url_for('login')}}" class=" ui teal button">Login</a>

                </div>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}