* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(28, 38, 50);
    background: linear-gradient(30deg, rgba(28, 38, 50, 0.9332107843137255) 0%, rgba(3, 5, 36, 0.9500175070028011) 49%, rgba(8, 113, 134, 0.6727065826330532) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    width: 120px;
    margin-top: -50px;
}

h1 {
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: 100;
    /*line-height: 20px;*/
    letter-spacing: 0.5px;
    /*margin: 20px 0 30px;*/
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container {
    /*background-color: #f8d40a;*/
    background: linear-gradient(57deg, rgba(253, 255, 0, 1) 0%, rgba(251, 200, 9, 1) 100%);
    background: linear-gradient(57deg, rgba(253, 255, 0, 1) 0%, rgba(251, 200, 9, 1) 100%);
    border-radius: 0px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin: auto;
}

button {
    border-radius: 20px;
    border: 1px solid #1cf5c6;
    background-color: #1cf5c6;
    color: #050505;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

.error {
    width: 92%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #8aff2b;
    border-radius: 5px;
    text-align: left;
}

button.ghost {
    background-color: transparent;
    border-color: #080808;
}

.form-container form {
    /*background-color: #f8d40a;*/
    background: rgb(253, 255, 0);
    background: linear-gradient(57deg, rgba(253, 255, 0, 1) 0%, rgba(251, 200, 9, 1) 100%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 50px;
    text-align: center;
    margin: auto;
    bottom: 10px;
}

.form-container input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.form-container select {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}


/* the form container css*/

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
    overflow: auto;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    overflow: auto;
    -webkit-overflow-scroll: touch;
    margin: auto;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}


/* the overlay container css*/

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    /*background: #1cf5c6;*/
    background: -webkit-linear-gradient(to right, #1cf5c6, #88eaf7);
    background: linear-gradient(to right, #1cf5c6, #88eaf7);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #070707;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}


/* Animation*/


/*move sign in to the right*/


/*.container.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}*/


/* move overlay to left*/

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}


/*bring sign up over sign in*/

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}


/*move overlay back to the right*/

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}