<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="HIV drugs inventory management and dispension information system" />
    <meta name="keywords" content="HIV" />
    <meta name="author" content="4Him" />
    <title>
        HIV Drugs Inventory Management and Dispension Information System
    </title>

    <!-- Semantic CSS and JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icon.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.css') }}" />
    <script src="{{ url_for('static', filename='js/lib/semantic.min.js') }}"></script>

    <!-- Fomantic CSS and JS -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/semantic.min.js"></script>

    <!-- Links for Chart.js Charts-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


</head>

<body style="
      background: rgb(28, 38, 50);
      background: linear-gradient(
        30deg,
        rgba(28, 38, 50, 0.9332107843137255) 0%,
        rgba(3, 5, 36, 0.9500175070028011) 49%,
        rgba(8, 113, 134, 0.6727065826330532) 100%
      );
      background-attachment: fixed;
    ">
    <div class="ui container">
        <header style="margin-top: 20px;">
            <div class="ui stackable small pointing menu" style="border-radius: 0px;">
                <a class="blue item" href="{{url_for('dashboard')}}">
                    Dashboard
                </a>
                <a class="orange item" href="{{url_for('inventory')}}">
                    Inventory
                </a>
                <a class="green item" href="{{url_for('providers')}}">
                    Providers
                </a>
                <a class="red item" href="{{url_for('patient_info')}}">
                    Patient Info
                </a>
                <div class="right menu">
                    <a class="ui item" href="{{url_for('logout')}}">
                        Logout
                    </a>
                </div>
            </div>
        </header>
        <div class="ui segment" style="border-radius: 0px;">
            {% block body %}{% endblock %}
        </div>
        <footer style="margin-bottom: 20px;">
            <div class="ui vertical footer segment" style="background: white;">
                <div class="ui center aligned container">
                    <div class="ui stackable divided grid">
                        <div class="three wide column">
                            <h4 class="ui header">Important Links</h4>
                            <div class="ui link list">
                                <a href="#" class="item">Link One</a>
                                <a href="#" class="item">Link Two</a>
                                <a href="#" class="item">Link Three</a>
                                <a href="#" class="item">Link Four</a>
                            </div>
                        </div>
                        <div class="three wide column">
                            <h4 class="ui header">Group 2</h4>
                            <div class="ui link list">
                                <a href="#" class="item">Link One</a>
                                <a href="#" class="item">Link Two</a>
                                <a href="#" class="item">Link Three</a>
                                <a href="#" class="item">Link Four</a>
                            </div>
                        </div>
                        <div class="seven wide column">
                            <h4 class="ui header">Footer Header</h4>
                            <p>
                                Extra space for a call to action inside the footer that could
                                help re-engage users.
                            </p>
                        </div>
                    </div>
                    <div class="ui section divider"></div>
                    <img src="{{ url_for('static',filename='images/HIV-Mis.png') }}" class="ui centered mini image" />
                    <div class="ui horizontal small divided link list">
                        <a class="item" href="#">Site Map</a>
                        <a class="item" href="#">Contact Us</a>
                        <a class="item" href="#">Terms and Conditions</a>
                        <a class="item" href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--Custom Javascript for the pages-->
    <script src="{{ url_for('static', filename='js/sample.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/semantic.min.js') }}"></script>
</body>

</html>